@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: whitesmoke;
}

#tentacles {
    width: 100px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

#description-container {
    border-top-style: groove;
    border-bottom-style: groove;
    border-color:lightblue;
    border-width:5px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
}

#statHeader {
    text-align: center;
}

.stats-container {
    display: flex;
    align-items:flex;
    justify-content: space-evenly;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(68, 197, 240);
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 40px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: lightblue;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    border-style:solid;
    border-width:5px;
    border-color:black;
}

.game-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    font-weight: bold;
    border: solid;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    box-shadow: 0 0 30px rgb(68, 197, 240);
}